<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../css/cart.css">
</head>

<body>
	<%- include('../includes/navigation.ejs') %>
	<main>
		<% if (prods.length > 0) { %>
			<div class="cart__item-list">
				<% prods.forEach(product => { %>
					<div  class="cart__item">
						<div class="cart__item-title">
							<span class="title"><%= product.productId.title %></span>
						</div>
						<div class="cart__item-quantity">
							<span class="quantity"> Quantity: <%= product.quantity %></span>
						</div>
						<div class="cart__item-button">
							<form class="cart__item-form" action="cart-delete-item" method="POST">
								<input type="hidden" name="_csrf" value="<%= csrfToken %>">
								<input type="hidden" name="productId" value="<%= product.productId._id %>">
								<button type="submit" class="btn danger">Delete</button>
							</form>							
						</div>
					</div>
				<% }); %>
			</div>
			<hr>
			<div class="centered">
				<form action="/create-order" method="POST">
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<button type="submit" class="btn">Order Now!</button>
				</form>
			</div>
		<% } else { %>
			<p>No products</p>
		<% } %>
	</main>
	<%- include('../includes/end.ejs') %>